.customshape1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customshape1 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 151px;
}

.customshape1 .shapefill {
  fill: #139dff;
}

.height {
  height: 85vh;
}

.blobShape {
  position: absolute;
  height: 500px;
  width: 500px;
  left: 50px;
  z-index: -1;
  top: 150px;
}

.blobTwoShape {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 10px;
  z-index: -1;
  top: 150px;
}
